---
description: Description of flags related to Jumio verification
---

# Jumio Verification

## Jumio Token

`--jumio-token`

Type: String

Default: None

Token used to make requests to Jumio to start a verification process for a user.

## Jumio Secret

`--jumio-secret`

Type: String

Default: None

Secret used to make requests to Jumio to start a verification process for a user.
